// Imports
@font-face {
  font-family: "Forma Nuova Corsiva";
  src: url("/styles/webfonts/formanuova-corsiva.eot");
  src: url("/styles/webfonts/formanuova-corsiva.eot?#iefix")
      format("embedded-opentype"),
    url("/styles/webfonts/formanuova-corsiva.woff") format("woff"),
    url("/styles/webfonts/formanuova-corsiva.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Forma Nuova Neretta";
  src: url("/styles/webfonts/formanuova-neretta.eot");
  src: url("/styles/webfonts/formanuova-neretta.eot?#iefix")
      format("embedded-opentype"),
    url("/styles/webfonts/formanuova-neretta.woff") format("woff"),
    url("/styles/webfonts/formanuova-neretta.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

// Grid Layout
.grid {
  max-width: 1800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 30px;
  .intro {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
  }
  .content {
    grid-column: 4 / span 2;
    justify-self: end;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 30px);
    .links {
      margin-top: auto;
    }
    .clients .client-list {
      display: grid;
      grid-template-columns: 1fr;
      column-gap: 30px;
      ul {
        list-style: none;
        margin: 10px 0 0;
        padding: 0;
        li {
            display: inline;
        //   margin-bottom: 5px;
          &::after {
              content: ", ";
          }
          &:last-child::after {
              content: "";
          }
        }
      }
    }
  }
}

// General
html {
  cursor: url("/assets/cursors/cursor.png") 16 16, default;
  cursor: url("/assets/cursors/cursor.svg") 16 16, default;
  cursor: -webkit-image-set(
        url("/assets/cursors/cursor.png") 1x,
        url("/assets/cursors/cursor@2x.png") 2x
      )
      16 16,
    default;
}

// Base Type
body {
  font-family: "Forma Nuova Neretta", Helvetica, sans-serif;
  -moz-font-feature-settings: "ss03";
  -webkit-font-feature-settings: "ss03";
  font-feature-settings: "ss03";
  font-size: 20px;
  letter-spacing: 0.0225em;
  color: #111111;
  margin: 15px 30px;
  line-height: 1.4em;
  background-color: #a74646;
  h1 {
    font-size: 20px;
    font-weight: normal;
    // text-transform: uppercase;
    letter-spacing: 0.015em;
    margin: 0 0 30px 0;
    padding: 0;
  }
  h2 {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0;
    padding: 0;
  }
  p {
    padding: 0;
    margin: 5px 0 30px;
  }
  a {
    color: #111111;
    text-decoration: none;
    margin-right: 30px;
    cursor: url("/assets/cursors/cursor.png") 32 32, default;
    cursor: url("/assets/cursors/cursor.svg") 32 32, default;
    cursor: -webkit-image-set(
          url("/assets/cursors/cursor.png") 1x,
          url("/assets/cursors/cursor@2x.png") 2x
        )
        16 16,
      default;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      opacity: 0.6;
    }
  }
  .links h2 {
    margin: 0;
    line-height: 1em;
  }
}

// Slideshow
.slideshow {
  position: relative;
  width: 100%;
  grid-column: 1 / span 2;
}
.controls {
  z-index: 10;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  .prev {
    display: inline-block;
    height: 100%;
    width: 50%;
    cursor: url("/assets/cursors/left.png") 16 16, w-resize;
    cursor: url("/assets/cursors/left.svg") 16 16, w-resize;
    cursor: -webkit-image-set(
          url("/assets/cursors/left.png") 1x,
          url("/assets/cursors/left@2x.png") 2x
        )
        16 16,
      w-resize;
  }
  .next {
    display: inline-block;
    height: 100%;
    width: 50%;
    cursor: url("/assets/cursors/right.png") 16 16, e-resize;
    cursor: url("/assets/cursors/right.svg") 16 16, e-resize;
    cursor: -webkit-image-set(
          url("/assets/cursors/right.png") 1x,
          url("/assets/cursors/right@2x.png") 2x
        )
        16 16,
      e-resize;
  }
}
.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background-color: #111;
  padding: 5px;
  .slide {
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    &.show {
      display: flex;
      flex-direction: column;
    }
    img {
      height: 100%;
      width: 100%;
    }
    p {
      @extend h2;
      text-align: left;
      color: #fff;
      width: 100%;
      margin: 10px 0 0 !important;
    }
  }
}

// Mobile styles
@media screen and (max-width: 900px) {

  .grid {
    grid-template-columns: 1fr;
    .intro {
      grid-column: 1 / span 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: stretch;
    }
    .content {
      grid-column: 1 / span 1;
      min-height: auto;
      .links {
        margin: 60px 0 0;
      }
    }
  }

  body {
    margin: 15px;
    font-size: 18px;
    h1 {
      font-size: 18px;
    }
    h2 {
      font-size: 12px;
    }
    a {
      margin-right: 15px;
    }
  }

  .slideshow {
    margin: 60px 0 30px;
    .slider {
      width: auto;
    }
  }
  

}